{% extends "base.html" %}

{% block title %}
    Sign Up
{% endblock title %}

{% block content %}
<header>
  <nav>
    <a href="{% url 'home' %}">Home</a>
  </nav>
</header>
<main>
    <div>
        <h1>Signup</h1>
        <form method="post">
             {% csrf_token %}
             {{ form.as_p }}
        <button>Signup</button>
        </form>
    </div>
</main>
{% endblock content %}
